{% extends "base.html" %}

{% block heading %}
Oyster Logs
{% endblock %}

{% block body %}

<div class="span-2">
{% if offset %}
<a class="button" href="{{request.script_root}}/log/?offset={{prev_offset}}">&laquo; Prev</a>
{% endif %}
&nbsp;
</div>

<div class="span-2 prepend-14 last">
{% if next_offset %}
<a class="button" href="{{request.script_root}}/log/?offset={{next_offset}}">Next &raquo;</a>
{% endif %}
</div>

<div class="span-18">
<table>
    <tr>
        <th>action</th>
        <th>description</th>
        <th>timestamp</th>
        <th>&nbsp;</th>
    </tr>
    {% for log in logs %}
        {% include "log_row.html" %}
    {% endfor %}
</table>
</div>

{% endblock %}
