{% extends "base.html" %}

{% block heading %}
Oyster Logs
{% endblock %}

{% block body %}

<div class="span-2">
{% if offset %}
<a class="button" href="/log/?offset={{prev_offset}}">&laquo; Prev</a>
{% endif %}
&nbsp;
</div>

<div class="span-2 prepend-14 last">
{% if next_offset %}
<a class="button" href="/log/?offset={{next_offset}}">Next &raquo;</a>
{% endif %}
</div>

<div class="span-18">
<table>
    <tr>
        <th>action</th>
        <th>description</th>
        <th>timestamp</th>
        <th>&nbsp;</th>
    </tr>
    {% for log in logs %}
        <tr{% if log.error %} class="error" {% endif %}>
            <td>{{log.action}}</td>
            <td><a href="/tracked/{{log.url}}">{{log.url}}</td>
            <td>{{log.timestamp}}</td>
            <td>{% if log.error %}{{log.error}}{% endif %}</td>
        </tr>
    {% endfor %}
</table>
</div>

{% endblock %}
